<html>
<% if !session[:user_id].nil? %>
  <p><%= link_to "Add a New Forum Which You Can Administrate.", forums_new_url %></p>
<% end %>

<ul>

  <% @forums.each do |forum| %>
    <li>
      <%= link_to forum.forum_name, forum_url(forum.id) %>
      <%= forum.description %>
    </li>
  <% end %>

</ul>
</html>